/*Reglas
Selectores
declaraciones
Propiedades 
Valores*/
/*
body {
background:rgb(10, 219, 156);
color: antiquewhite;
}

header {

    background: black;

}
*/
/*Selector de  etiqueta -> header - body - section - article - nav*/
/*Selector descendente*/
/*body header div nav ol li a{}*/
/*Selector de clase con un .*/
/*.link{   }*/
/*selector de id*/
/*#portafolio{}*/

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

h1 {
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    font-size: 45px;
    font-display: 40px;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: white;
    /*text-transform: uppercase;
    text-decoration: blue ;*/
}

h1 strong{
    color: #A9B0B8;
}

h2 {
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.portfolio{
    background: #A9B0B8;
}

.hero {
    height: 300px;
    /* background-image: url(../Heroe.jpg); */
    background-color:  #060606;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-image {
       
    object-fit: cover;

}


.project{

    /* border-top: 10px solid  red;
    border-left: 10px solid  red;
    border-right: 10px solid  red;
    border-bottom: 10px solid  red; */
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid #A9B0B8;
    border-radius: 10px; 
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    }

    .project-title {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .project-course,
    .project-date,
    .project-url
    {
        margin: 10px 0px;

    }

.project-description {

    font-size: 20px;
}

.project strong {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .portfolio{
        background: #A9B0B8;
        padding: 20px;
    }

.project-details {

    width: 500px;
}


.project-imageContainer {

    width: 500px;
    padding: 55px;

}

.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

ol,
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0px;
}

.header a {
    color: white;
    text-decoration: none;
}

.menu {
    height: inherit;
}
 
.header ol {
display: flex;
height: inherit;

}


.header ol li {
    height: inherit;
}

.header a {
    
    display: flex; 
    align-items: center;
    height: inherit;
    padding: 0 10px;

}

.flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 20px;

}

.footer {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer img {
    vertical-align:  middle;
}


.footer a {
    color: white;
}

.event-list{
    flex-wrap: wrap;
    display: flex;

}

.event-list-title {

margin-left: 20px;

}

.event {

    margin: 10px;
    width: 480px;
    flex-shrink: 0px;
    border-radius: 10px;
    overflow: hidden;
    background: #A9B0B8;

}

.event img{

    width: 480px;
    height: 200px;
    object-fit: cover;

}

.event-detail{

margin: 20px 40px;
margin-top: -40px;
background-color: white;
position: relative;
padding: 20px;
text-align: center;

}

.event-description {
    text-align: left;
}

.event-url {

border: 1px solid  #A9B0B8;
padding: 5px 20px;
text-decoration: none;
color: #A9B0B8;
border-radius: 5px;
margin-left: 70px;

}

.contact{

    background-color: #A9B0B8;
    color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social{

    margin: 50px;
   
}

.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    margin-left: 30px;
    
/* background-size: 50px 50px;   esto se puede hacer para no poner todos los size de los hijos  */
 
} 


.social-link.facebook {

background-image: url('../facebook.svg') ;
background-size: 50px 50px; 

}


.social-link.github {

    background-image: url('../github.svg') ;
    background-size: 50px 50px; 
    
    }

    
.social-link.instagram {

    background-image: url('../instagram.svg') ;
    background-size: 50px 50px; 
    
    }

    .form-email input{

        border-color: black;
        border-style: solid;
        border-radius: 5px;
        padding: 10px 20px 10px 25px;
        background-image: url('../email\ \(2\).svg');
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position-y: center; 
        background-position-x: 5px;
    }

    .form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: black;
    padding: 5px 0px;
    padding: 5px 30px;
    border-radius: 5px;
    width: 100px;
    margin: 10px auto 0px;
    

   
    }

    .form-email h3 {

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .container {
        margin: 0px auto;
        width: 1000px;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        height: inherit;
        flex-wrap: inherit;
    }