/*Reglas
Selectores
declaraciones
Propiedades 
Valores*/
/*
body {
background:rgb(10, 219, 156);
color: antiquewhite;
}

header {

    background: black;

}
*/
/*Selector de  etiqueta -> header - body - section - article - nav*/
/*Selector descendente*/
/*body header div nav ol li a{}*/
/*Selector de clase con un .*/
/*.link{   }*/
/*selector de id*/
/*#portafolio{}*/

body {
    margin: 0px;
    font-family: 'Fjalla One', sans-serif;
} 


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

h1 {
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    font-size: 45px;
    font-display: 40px;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: white;
    /*text-transform: uppercase;
    text-decoration: blue ;*/
}

h1 strong{
    color: #A9B0B8;
}

h2 {
    color: #A9B0B8;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.portfolio{
    background: #A9B0B8;
}

.hero {
    height: 300px;
    background-image: url(../Heroe.jpg);
    background-color:  black;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}


.project{

    /* border-top: 10px solid  red;
    border-left: 10px solid  red;
    border-right: 10px solid  red;
    border-bottom: 10px solid  red; */
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid #A9B0B8;
    border-radius: 10px; 
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    }

    .project-title {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .project-course,
    .project-date,
    .project-url
    {
        margin: 10px 0px;

    }

.project-description {

    font-size: 20px;
}

.project strong {

    font-family: 'Anton', sans-serif;
}

    .portfolio{
        background: #fafafa;
        padding: 20px;
    }

.project-details {

    width: 500px;
}


.project-imageContainer {

    width: 500px;
    padding: 55px;

}

.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

ol,
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0px;
}

.header a {
    color: white;
    text-decoration: none;
}

.menu {
    height: inherit;
}
 
.header ol {
display: flex;
height: inherit;

}


.header ol li {
    height: inherit;
}

.header a {
    
    display: flex; 
    align-items: center;
    height: inherit;
    padding: 0 10px;

}

.flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 20px;

}

.footer {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer img {
    vertical-align:  middle;
}


.footer a {
    color: white;
}

